html, body {
  height: 100%;
}

body {
  background-image: url("../images/concrete_seamless.png");
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #777777;
}

header {
  background: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
  padding-bottom: 0;
  height: 90px;
  border-bottom: 3px solid;
  border-color: #dddddd;
}

h1, h2, h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

h1, h2 {
  font-size: 28px;
}

h2 {
  margin: 30px 0px 35px 20px;
}

h3 {
  font-size: 22px;
  margin: 20px 0px 24px 0px;
  padding-bottom: 20px;
  border-bottom: 2px solid;
  border-color: #dddddd;
}

h2, h3 {
  color: #4aaaa5;
  text-align: left;
}

a {
  text-decoration: none;
}

input {
  width: 563px;
  height: 18px;
  font-size: 12px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
}

textarea {
  border-color: #dddddd;
  font-size: 12px;
  width: 563px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

#formContainer {
  padding: 10px 0px 0px 20px;
}

#submitButton {
  margin: 10px 0 10px 0;
  background: #4aaaa5;
  border:0 none;
  color: #ffffff;
  width: 117px;
  height:42px;
  font-size:16px
}

.border {
  padding: 0;
  margin: 20px;
  text-align: left;
  border-bottom: 3px solid;
  border-color: #dddddd;
}

#headerContainer {
  background-color: #ffffff;
  width: 960px;
  height: 90px;
  margin: 0 auto;
  border-bottom: 3px solid;
  border-color: #dddddd;
}

#contactContainer {
  width: 210px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
  position: relative;
}

#contactBottom {
  padding-top: 20px;
  bottom: 0px;
  font-size: 16px;
}

#nameTag {
  color: #ffffff;
  background: #4aaaa5;
  height: 90px;
  line-height: 90px;
  width: 250px;
  padding: 0;
  margin: 0;
  text-align: center;
  float: left;
}

#headerMenu {
  width: 50%;
  height: 90px;
  float: right;
  text-align: right;
}

.headerLink {
  color: #a6a6a6;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 90px;
}

.headerCol {
  border-right: 1px solid;
  border-color: #cccccc;
}

.footer {
  width: 960px;
  margin: 0 auto;
  background: #666666;
  font-size: 12px;
  color: #babcc1;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0;
}

.footerContainer {
  width: 100%;
  margin: 0;
  background: #666666;
  padding: 0;
  border-top: 8px solid;
  border-color: #4aaaa5;
}

.wrapper {
  flex: 1 0 auto;
}

.container {
  width: 960px;
  margin: 0 auto;
  clear: both;
}

.iconLink {
  width: 62px;
  height: 62px;
  border: 0;
  margin: 8px 5px 0px 0px;
}

#main-bio, #contact-info {
  background: #ffffff;
  margin: 0;
  padding: 10px;
  padding-bottom: 40px;
  float: left;
  border: 1px solid;
  border-color: #dddddd;
}

#main-bio {
  width: 628px;
  margin-right: 20px;
  margin-bottom: 40px;
}

#contact-info {
  width: 248px;
  margin-left: 20px;
  margin-bottom: 40px;
}

#bio-image {
  width: 185px;
  height: 200px;
  margin: 10px 26px 10px 20px;
  float: left;
}

#bio {
  padding: 10px 10px 0px 20px;
}

.portfolio-image-container {
  position: relative;
  margin: 20px;
  margin-bottom: 36px;
  width: 274px;
  height: 205px;
  float: left;
  z-index: 1;
}

.portfolio-image-right {
  margin-right: 10px;
}

.portfolio-image-left {
  margin-left: 20px;
}

.portfolio-image {
  width: 274px;
  height: 205px;
  z-index: 2;
}

.portfolio-image-banner {
  position: relative;
  top: -70px;
  color: #ffffff;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  background: #4aaaa5;
  height: 60px;
  line-height: 60px;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  z-index: 3;
}

@media screen and (max-width: 980px){

  .container {
    width: 730px;
  }

  #main-bio {
    width: 398px;
  }

  #bio-image {
    width: 356px;
    height: 380px;
    margin-bottom: 20px;
  }

  .footer {
    width: 730px;
  }

  #headerContainer {
    width: 730px;
  }

  .portfolio-image,
  .portfolio-image-container {
    width: 358px;
    height: 268px;
  }

  textarea, input {
      width: 334px;
  }
}

@media screen and (max-width: 768px){

  .container {
    width: 730px;
  }

  #main-bio {
    width: 708px;
  }

  .footer {
    width: 730px;
  }

  #headerContainer {
    width: 730px;
  }

  #contact-info {
    width: 708px;
    margin-left: 0;
  }

  #contactContainer {
    width: 705px;
  }

  .portfolio-image,
  .portfolio-image-container {
    width: 314px;
    height: 236px;
  }

  .portfolio-image-container {
    margin: 20px;
  }

  textarea, input {
      width: 642px;
  }
}

@media screen and (max-width: 640px){

  .container {
    width: 600px;
  }

  #main-bio {
    width: 580px;
  }

  .footer {
    width: 600px;
  }

  #headerContainer {
    width: 100%;
    height: 154px;
  }

  header {
    position: static;
    width: 100%;
    height: 154px;
  }

  .headerLink {
    line-height: 64px;
  }

  #nameTag {
   width: 100%;
  }

  #headerMenu {
    margin: 0 auto;
    width: 100%;
    height: 64px;
    float: left;
    text-align: center;
  }

  #contact-info {
    width: 580px;
    margin-left: 0;
  }

  #contactContainer {
    width: 505px;
  }

  .portfolio-image,
  .portfolio-image-container {
    width: 538px;
    height: 400px;
  }

  .portfolio-image-container {
    margin: 20px;
  }

  textarea, input {
      width: 516px;
  }
}